{% extends 'base.html.twig' %}
{% block body %}<h1>Bienvenue chez snow tricks !</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur, cupiditate esse ex explicabo illo ipsam
    iste iusto minima non obcaecati, officia perspiciatis quam quasi quibusdam quidem sapiente soluta suscipit! Deserunt
    ipsum obcaecati recusandae saepe sint. Consectetur deserunt molestias rem.Ab adipisci atque, culpa cumque debitis
    distinctio dolore est exercitationem, laudantium libero magnam nemo praesentium quas quasi quidem reiciendis saepe,
    sit totam vero voluptates. Accusamus debitis delectus dolore laborum minus, praesentium quae quam qui quos
    reprehenderit, temporibus vero? Aliquid, sit!</p>

{% endblock %}